@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  @apply text-14 leading-normal text-black-300 bg-white-100;
}

#root {
  @apply flex flex-col min-h-screen;
}

h1,
h2 {
  @apply leading-normal;
}

h2 {
  @apply text-18 text-center font-semibold mb-24;
}

@screen lg {
  body {
    @apply text-24;
  }

  h2 {
    @apply text-48 mb-44;
  }
}

::-ms-clear {
  display: none;
}

/* :active {
  -webkit-tap-highlight-color: transparent;
}
 */

button:focus,
:focus {
  outline: none;
}
