.sol-logo {
  display: block;
  width: max-content;
}

.hero-image {
  @apply absolute z-0 bottom-0 select-none pointer-events-none;
  min-width: 35.8rem;
  left: -2rem;
  right: -2rem;
  margin: auto;

  &__container {
    @apply relative;
  }

  &__front {
    @apply z-10 relative;
  }

  &__back {
    @apply absolute left-0 text-yellow;
    top: -2.4rem;
  }
}

.benefits {
  &__item {
    @apply flex;

    &::before {
      @apply relative flex-shrink-0 mr-12;
      content: url("../img/list-symbol.svg");
      top: 0.15rem;
      display: block;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.process {
  &__diagram-item {
    @apply flex justify-center items-center w-40 h-40 bg-gray-500 rounded-12;
  }

  &__list-item {
    @apply flex items-center;
    min-height: 4rem;
  }

  &__arrow {
    @apply relative;
    transform: rotateZ(90deg);
    height: 3.2rem;
    width: 3.2rem;
    margin: 0.8rem 0;

    &::before {
      @apply absolute top-0 bottom-0 m-auto bg-gray-100;
      content: "";
      display: block;
      height: 0.1rem;
      width: 100%;
    }

    &::after {
      @apply absolute top-0 bottom-0 m-auto;
      content: url("../img/arrow-head.svg");
      right: -1.6rem;
      transform: rotateZ(90deg);
      display: block;
      width: 1rem;
      height: 0.7rem;
    }
  }
}

.accordion {
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
  }

  &:not(:first-child) {
    margin-top: -1px;
    margin-bottom: -1px;
  }
}

.scroll-button {
  @apply fixed z-50 w-40 h-40 flex justify-center items-center bg-yellow rounded-full shadow;
  right: 1.6rem;
  bottom: 5vh;
  transform: translateY(0) scale(1);
  transition: transform 200ms ease-out;

  &.is-hidden {
    transform: translateY(15vh) scale(0);
  }
}

.usage {
  @apply flex flex-col -mb-8;

  &__card {
    @apply flex items-center bg-white-200 px-12 py-16 rounded-12 shadow mb-8;
  }
}

.input-field {
  @apply relative border border-gray-600 w-full h-46 bg-gray-600 p-12 rounded-12 leading-22;

  &.is-empty {
    .input-field {
      &__label {
        @apply text-14;
        transform: translateY(0.8rem);
      }

      &__clear-button {
        display: none !important;
      }
    }
  }

  &:focus-within {
    @apply bg-white-100;

    .input-field {
      &__label {
        @apply text-10;
        transform: translateY(0) !important;
      }

      &__clear-button {
        @apply block;
      }
    }
  }

  &.has-error {
    @apply border-red;

    .input-field__clear-button {
      @apply text-red;
    }
  }

  &__label,
  &__placeholder,
  &__input,
  &__clear-button {
    @apply absolute;
  }

  &__label {
    @apply text-10 text-gray-200 leading-none;
    top: 0.8rem;
    transform: translateY(0);
  }

  &__input {
    @apply inset-0 h-full w-full;
    padding: 2rem 1.2rem 0.8rem;
    background: none;
  }

  &__clear-button {
    @apply hidden text-gray-400 opacity-50;
    right: 1.2rem;

    &:focus {
      @apply opacity-100;
    }

    svg {
      transform: rotateZ(45deg);
    }
  }

  &__error-text {
    @apply absolute text-red text-12 leading-22;
    bottom: -2.6rem;
  }
}

.container {
  @apply p-16;
  max-width: 66rem;
  margin: 0 auto;
}

@screen md {
  .hero-image {
    max-width: 80.7rem;

    &__back {
      top: -4.4rem;
    }
  }
}

@screen lg {
  .container {
    @apply p-20;
    max-width: 134rem;
  }

  .hero-image {
    @apply flex items-end relative left-0 right-0 m-0;
    max-width: 69.1rem;
    width: 100%;
    bottom: -2rem;
  }

  .benefits {
    &__item {
      &::before {
        top: 0.45rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .process {
    &__diagram-item {
      @apply w-64 h-64 rounded-22 text-36;
    }

    &__list-item {
      @apply max-w-310 text-18;
    }

    &__arrow {
      @apply flex-grow;
      transform: rotateZ(0);
      margin: 0 1.6rem;

      &::after {
        right: -2.5rem;
      }
    }
  }

  .usage {
    @apply flex-row flex-wrap -mb-34 -mr-20;

    &__card {
      @apply p-24 mb-34 mr-20;
      width: calc(50% - 2rem);
    }
  }

  .input-field {
    @apply text-18 p-16 h-56;

    &__input {
      padding: 2rem 1.6rem 0.8rem;
    }

    &.is-empty {
      .input-field {
        &__label {
          transform: translateY(1.4rem);
        }
      }
    }
  }

  .scroll-button {
    @apply w-80 h-80;
    right: 5rem;
  }
}
